/* 
{}
*/

.dashboardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 30px 60px 30px 30px;
}

.navItems {
  list-style: none;
}

.navItem {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #213f7d;
  gap: 10px;
}
